# Evitar subir archivos temporales de sistema
.DS_Store
Thumbs.db

# Evitar subir archivos de configuración local de editores
.vscode/
.idea/

# Evitar subir logs o archivos temporales de la app
*.log
tmp/
